{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'cadastro/css/cad_usuario.css' %}">
    <link rel="stylesheet" href="{% static 'cadastro/css/usuarios.css' %}">
{% endblock %}

{% block 'body' %}
    <br>
    <br>
<!--centraliza-->
<div class="mx-auto" style="width: 500px;">
    <!--cria card-->
    <div class="card border-primary mb-3" style="max-width: 30rem;">
        <div class="card-body text-primary">
            <!--solicita token de autenticação-->
        <form action="{% url 'cad_usuario' %}" method="POST">{% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div style="width: 60%">
                    
                        <p>Username:</p>
                        <input type="text" class="form-control" value="{{user.username}}" name="username">
                        <br>
                        <p>Email:</p>
                        <input type="email" class="form-control" value="{{user.email}}" name="email">
                        <br>
                        <p>Primeiro nome:</p>
                        <input type="text" class="form-control" value="{{user.first_name}}" name="primeiro_nome">
                        <br>
                        <p>Último nome:</p>
                        <input type="text" class="form-control" value="{{user.last_name}}" name="ultimo_nome">
                        <br>
                        <input type="submit" class="btn btn-success btn-lg" value="Salvar alterações">
                   
            </div>
        </form>
        </div>
        <br>
        <hr class="borda-degrade">
        <br>
        <h4 class="titulo">Filho(s)</h4>

        <table style="background-color: #222; color: white;" class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <th scope="col">Escola</th>
                <th scope="col">Horário</th>
                <th scope="col">Transportador</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><img width="100px" src="/media/referencias/AULA_01_1.png"></th>
                    <td>a</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>x</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
{% endblock %}